body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
